

mat-grid-tile {
    background:#E6E6E6;
  }
  .file{
    margin-left: 15px;
    margin-top: -50px;
  }
  .button button{
    margin-left: 70%;
    color: white;
    background-color: blue;
    margin-top: 30px;
    height: 6vh;
    width: 75px;
    border-radius: 6px;
    border: chocolate;
}
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-form3{
    margin-left: 210px;
  

  }
  .example-full-width1{
    margin-top: 40px;
    width: 190px;

  }


  .example-form4{
    margin-left: 210px;

  }
  .example-full-width4{
    margin-top: 40px;
    width: 190px;
    margin-left: 2px;
  }
  .grid {
    margin-top: -80px;

  }
  .grid mat-grid-tile{
    margin-left: -188.5px;
    height: 76px;



  }
  /* .example-form-field {
    width: 200px;
  } */


  mat-form-field {
    margin-right: 12px;
  }
  