.example-container {
    width: 1260px;
    margin: 10px;
    
  }
  .nav{
    width: 146px;
    background-color: #1680FA;
    border-radius: 1px;

  }
  .cont2{
height:5px;
}
  .nav img{
    width: 145px;
  }
 
.home {
    margin-top: 60px;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}
.folder {
  margin-top: 60px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
}
.Home{
  margin-top: 60px;
}

p{
    color: white;
    margin-left: 55px;
    margin-top: -8px;
}

     
h5{
    color: white;
    margin-left: 44px;
    font-size: 15px;
    margin-top: -8px;
}
.active-link{
    color: #f9a61d !important;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}


